{
  "plugins": [
    [
      "babel-plugin-react-compiler",
      {
        "target": "18"
      }
    ]
  ],
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ]
}
